@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Shizuru&display=swap");

#navbar_color {
  background-color: black;
}

#logo_navbar {
  width: 20vh;
  height: 20vh;
}

#button {
  color: aqua;
}
