.cardProduct {
  width: 400px;
  height: 480px;
  background-color: grey;
  border: 10px solid grey;
  border-radius: 10px;
  /* font-size: 20px; */
}

.basket {
  width: 240px;
  margin-right: 0px;
  display: flex;
  justify-content: space-evenly;
}
