.side-bar {
  position: fixed;
  left: 8px;
  top: 40vh;
  /* bottom: 10vh; */
  z-index: 5;
  border-radius: 5px;
}

.css-1e83efs-MuiInputBase-root-MuiInput-root:before {
  border-bottom: 1px solid aqua !important;
  left: 0;
  bottom: 0;
  content: "\00a0";
  position: absolute;
  right: 0;
  -webkit-transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  transition: border-bottom-color 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  pointer-events: none;
}

/* .blog-left {
    max-width: 850px;
    padding-left: 250px;
  } */

.text-field label {
  color: grey;
}
